html,body{
    padding: 0 !important;
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
}

.light-theme{
    background-color: #CDCDCD;
    color: blcak !important;
}
.dark-theme{
    background-color: #000000;
    color: #FFFFFF;
}

.active{
    background-color: black;
    color: #FFFFFF;
}